<table style="width:100%" table-layout = fixed>
<tr>
<th>
  <button mat-raised-button (click)="previous()" style="float: left;"> &lt;&lt; Vorheriges </button>
  <button mat-stroked-button (click)="next()" style="float: left;"> Nächstes &gt;&gt; </button>
</th>
<th> <button mat-fab (click)="close()" style="float: right;" color=warn> X </button> </th>
</tr>
<tr>
<th colspan="2"> <h4 style="text-align: left;">{{get_name()}}</h4></th>
</tr>
<tr *ngIf = "is_image(); else noimageblock">
<th colspan="1"><p style="font-family: sans-serif; font-size: 0.6em; text-align:left;">{{get_info()}}</p></th>
<th colspan="1" style="width: 400px; margin: 0%; border:0%; padding:0px"> <img class=smallimage src={{get_image_src()}}/></th>
</tr>
<ng-template #noimageblock>
<tr>
<th colspan="2" style="font-family: sans-serif; font-size: 0.6em; text-align:left;"><p>{{get_info()}} </p></th>
</tr>
</ng-template>
<tr>
<th><h5 style="text-align:left;">Tags: </h5><p style="font-family: sans-serif; font-size: 0.6em; text-align:left;">{{getTags()}}</p></th>
</tr>

</table>
