<div cdkDrop>
<h1>Ankündigung Seminar- und Abschlussarbeiten</h1>

<div id="filter">
<h2> Filter </h2>
<table style=width:100%>
<tr>
<th>
  Wähle einen Betreuer:
</th>
  <th>
  <mat-form-field>
    <mat-label>Betreuer wählen</mat-label>
    <mat-select>
      <mat-option *ngFor="let person of getPersonsWithAbschlussarbeit()"[value]="person">
        {{person.lastname}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </th>
</tr>
<tr>
<th>
  Wähle einen Tag:
</th>
  <th>
  <mat-form-field>
    <mat-label>Tag wählen</mat-label>
    <mat-select>
      <!--<mat-option *ngFor="let person of getPersonsWithAbschlussarbeit()"[value]="person">
        {{person.lastname}}
      </mat-option> -->
    </mat-select>
  </mat-form-field>
  </th>
</tr>
<tr>
</tr>
</table>
</div>


<div *ngIf = "!creative" id="accordion">
<div>
  <button mat-raised-button (click)="openPopUp()">Open PopUp</button>
  <button mat-raised-button (click)="accordion.openAll()">Expand All </button>
  <button mat-raised-button (click)="accordion.closeAll()">Collapse All </button>
</div>

  <!-- exp-panel > exp-panel-h > title > /title > panel-desc > /panel-desc > /exp-panel-h > "content" > /exp-panel -->
  <mat-accordion multi="true" #accordion="matAccordion">
    <!-- Institute -->
    <mat-expansion-panel class="organisation-expansion-panel" *ngFor="let institut of getOrganisations('institut')"
                         #expansionPanel="matExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title class="organisation-expansion-panel-text">
          {{institut.name}}
        </mat-panel-title>
        <mat-panel-description class="organisation-expansion-panel-text">
          Arbeiten aus dem Institut {{institut.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let content of getContents('Abschlussarbeit')">
        <div class="content-div"
          *ngFor="let orga of getConnectedOrganisations(content)">
          <mat-expansion-panel *ngIf="orga.name == institut.name">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{content.alternativeNames}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            {{content.stringValue}}<br>
            <img width="auto" src="{{content.getImages()[0]['fileUrl']}}">
          </mat-expansion-panel>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!--

<div>
  <button mat-raised-button (click)="openPopUp()">Open PopUp</button>
  <button mat-raised-button (click)="accordion.openAll()">Expand All</button>
  <button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<h2>Filter</h2>
<p>Contents:</p>
<ul>
  <li *ngFor="let content of getContents('Abschlussarbeit')">{{content.name}}<br/>
    MetaTags: {{content.getMetaTagsAsString()}}<br/>
    Abstract: {{content.stringValue}}<br/>URL: {{content.uri}}<br/>
    Personen:
    <ul>
      <li *ngFor="let person of getConnectedPersons(content)">{{person.lastname}}
    </ul>
    <br/>
    Organisationen:
    <ul>
      <li *ngFor="let organisation of getConnectedOrganisations(content)">{{organisation.name}}
    </ul>
    <br/>
    Images:
    <ul>
      <li *ngFor="let image of content.getImages()">{{image.fileUrl}}
    </ul>
  </li>
</ul>

<p>MetaTags:</p>
<ul>
  <li *ngFor="let metaTag of getMetaTags()">{{metaTag.name}}</li>
</ul>-->

<div id="bubbles" *ngFor="let institut of getOrganisations('institut')" style="position:'static';">
  <app-bubble *ngIf = "valid(institut)" [institute]="institut"></app-bubble>
</div>
