<div cdkDrop>
  <h1>Übersicht studentische Arbeitsthemen</h1>
  <p>Für alle Studierenden, die an der Fakultät für Informatik eine studentische Arbeit (Praktikum, Semester-,
    Bachelor-, Masterarbeit) suchen.
    <br>
  <div id="filter">
    <h2> Filter </h2>
    <p> Wähle hier Optionen aus, um die Anzeige der angebotenen Themen einzuschränken. </p>
    <table style=width:100%>
      <tr>
        <th>
          Filtere nach einem Betreuer:
        </th>
        <th>
          <mat-form-field>
            <mat-label>Betreuer wählen</mat-label>
            <mat-select [(value)]="filterPerson">
              <mat-option>Keine Auswahl</mat-option>
              <mat-option *ngFor="let person of getPersonsWithAbschlussarbeit()" [value]="person" (click)="updateDiv()">
                {{person.lastname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </tr>
      <tr>
        <th>
          Filtere nach einem Thementag:
        </th>
        <th>
          <mat-form-field>
            <mat-label>Tag wählen</mat-label>
            <mat-select>
            </mat-select>
          </mat-form-field>
        </th>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
  <br>
  <h2> Ergebnisse </h2>
  <div *ngIf="creative" style="height:800px">
    <div>
      <button class="mat-button-toggle" value={{creative}} (click)="toggleCreative()">Toggle kreatives Design</button>
    </div>
    <div id="bubbles" *ngFor="let institut of this.getOrganisations('institut')" style="position:static;">
      <app-bubble *ngIf="valid(institut)" [institute]="institut" [filterPerson]="filterPerson" [filterTag]="filterTag"
                  [filterOrganisations]="filterOrganisations"
                  [getConnectedAbschlussarbeiten]="getConnectedAbschlussarbeiten"
                  [itemConnectedToAbschlussarbeit]="itemConnectedToAbschlussarbeit"
                  [itemConnectedToFilterPerson]="itemConnectedToFilterPerson"
                  [itemConnectedToFilterTag]="itemConnectedToFilterTag"
                  [organisationIsProfessur]="organisationIsProfessur" [organisationIsInstitut]="organisationIsInstitut"
                  [checkFilterCriteria]="checkFilterCriteria"></app-bubble>
    </div>
  </div>
  <br><br>
  <div *ngIf="!creative" id="accordion">
    <div>
      <button class="mat-button-toggle" value={{creative}} (click)="toggleCreative()">Toggle kreatives Design</button>
      <button class="mat-raised-button" mat-raised-button (click)="accordion.openAll();allOpen = true; updateDiv()">Alle
        aufklappen
      </button>
      <button class="mat-raised-button" mat-raised-button (click)="accordion.closeAll();allOpen = false; updateDiv()">
        Alle einklappen
      </button>
    </div>
    <!-- exp-panel > exp-panel-h > title > /title > panel-desc > /panel-desc > /exp-panel-h > "content" > /exp-panel -->
    <mat-accordion id="#here" [multi]="true" #accordion="matAccordion">
      <!-- Institute -->
      <mat-expansion-panel class="organisation-expansion-panel" *ngFor="let institut of getOrganisations('institut')"
                           #expansionPanel="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title class="organisation-expansion-panel-text">
            {{institut.name}}
          </mat-panel-title>
          <mat-panel-description class="organisation-expansion-panel-text">
            Arbeiten aus dem Institut {{institut.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="content-div">
          <mat-expansion-panel *ngFor="let professur of getProfessurenChildOrganisations(institut)"
                               class="professur-panel" [expanded]="allOpen">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: white;font-family: sans-serif;font-size: 1em;">
                {{professur.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let content of getConnectedAbschlussarbeiten(professur)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{content.alternativeNames}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              {{content.stringValue}}<br>
              <img width="auto" src="{{content.getImages()[0]['fileUrl']}}"><br>
              <div *ngIf="content.getMetaTags()>0">
                <li>Tags</li>
              </div>
              <br><br>
            </mat-expansion-panel>
          </mat-expansion-panel>
          <br>
          <mat-expansion-panel *ngFor="let content of getConnectedAbschlussarbeiten(institut)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Abschlussarbeit: {{content.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              {{content.stringValue}}<br>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
