<h1>Ankündigung Seminar- und Abschlussarbeiten</h1>

<div>
      <button mat-raised-button (click)="openPopUp()">Open PopUp</button>
</div>
<h2>Filter</h2>
<p>Contents:</p>
<ul>
        <li *ngFor="let content of getContents('Abschlussarbeit')">{{content.name}}<br/>
MetaTags: {{content.getMetaTagsAsString()}}<br/>
Abstract: {{content.stringValue}}<br/>URL: {{content.uri}}<br/>
Personen: <ul>
  <li *ngFor="let person of getConnectedPersons(content)">{{person.lastname}}
</ul><br/>
Organisationen: <ul>
  <li *ngFor="let organisation of getConnectedOrganisations(content)">{{organisation.name}}
</ul><br/>
Images: <ul>
  <li *ngFor="let image of content.getImages()">{{image.fileUrl}}
</ul>
</li>
</ul>

<p>MetaTags:</p>
<ul>
        <li *ngFor="let metaTag of getMetaTags()">{{metaTag.name}}</li>
</ul>
