.bubble {
	width: 250px;
	height: 250px;
  border-radius: 80%;
	position: relative;
	box-shadow: inset 0 -5px 15px rgba(47, 31, 139, 0.4),
				inset -2px -1px 40px rgba(0,0,0,0.4),
				0 0 1px #000;
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  background-color: black;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
.subbubble {
  width: 180px;
	height: 180px;
	position: absolute;
	border-radius: 200px;
	box-shadow: inset 0 -5px 15px rgba(69, 66, 83, 0.4),
				inset -2px -1px 40px rgba(68, 68, 68, 0.4),
				0 0 1px rgb(58, 58, 58);
  color: black;
  font-family: sans-serif;
  font-size: 0.7em;
  background-color: white;
}

.arbeiten{
  position: absolute;
	border-radius: 5px;
	box-shadow: inset 0 -5px 15px rgba(69, 66, 83, 0.4),
				inset -2px -1px 40px rgba(68, 68, 68, 0.4),
				0 0 1px rgb(58, 58, 58);
  color: black;
  font-family: sans-serif;
  font-size: 0.5em;
  background-color: rgb(250, 248, 242);
}

.listbutton{
  position: absolute;
	border-radius: 5px;
	box-shadow: inset 0 -5px 15px rgba(69, 66, 83, 0.4),
				inset -2px -1px 40px rgba(68, 68, 68, 0.4),
				0 0 1px rgb(58, 58, 58);
  color: black;
  font-family: sans-serif;
  font-size: 0.5em;
  background-color: rgb(250, 248, 242);
  z-index:100
}
.listbutton.hover{
  filter: brightness(70%);
}
.bubble:hover {
  filter: brightness(150%);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -moz-animation-play-state: paused;
}
.subbubble:hover {
  filter: brightness(130%);
}
.brightensubbubble {
  filter: brightness(130%);
}
.brighten{
  filter:brightness(150%);
  z-index: 100;
}
.paused{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -moz-animation-play-state: paused;
}

@-webkit-keyframes bounce {
  10% {}
  40% {-webkit-transform: translateY(+5%);
    transform: scaleY(0.9);
  }
  90%{}
}

@keyframes bounce {
  10% {}
  40% {transform: translateY(+5%);
    transform: scaleY(0.9);
  }
  90% {}
}

