<div style="width:100%; height:0px; position:'static';" cdkDrag>
  <button id={{this.institute.name}}
  class="bubble"
  (mousedown)="mouseDown($event)"
  (click)="onClick($event)"
  [style.background-color] = "background"
  [style.left] = "left"
  [style.top] = "top">
    {{institute.name}}
  </button>


  <div *ngIf = "showProfessuren">
    <div *ngFor="let professur of professuren">
      <button id={{professur.name}}
      class="subbubble"
      style= {{getProfessurStyle(professur)}} (click)="toggleArbeitsthemen(professur)">
      {{professur.name}}
      </button>
      <div *ngIf = "getshowArbeitsthemen(professur)">
        <ul class="arbeiten"
        style = {{getContentStyle(professur)}}
        *ngFor="let topic of getConnectedAbschlussarbeiten(professur)">
        <tr>
        <th>
          <button class="listbutton" (click) = "openPopUp(getConnectedAbschlussarbeiten(professur), topic)">
            {{topic.name}}
          </button>
        </th>
        </tr>
        </ul>
      </div>
    </div>
  </div>
</div>
