/* Global Style definition for everybody to use */
/* Color definitions:
      Accordion:
       #222222
       #444444
       #696969
       #878787
       Schrift im Accordion: #rgb(255,255,255)

*/
html {
  background-image: url(./app/images/sapce1.jpg);
  background-attachment: fixed;
}
Body {
  background-color: rgb(250, 248, 242); opacity: 1;
  Margin: 10%;
  Padding: 5%;
  box-shadow: 6px 6px 5px 5px rgb(46, 46, 46);
  font-family: sans-serif;
  font-size: 1.6em;
  }
h1 {
  font-size: 2.5em;
  font-family: sans-serif;
  color: rgb(65, 65, 65);
  text-align: center;
  }
h2 {
  font-size: 1.8em;
  font-family: sans-serif;
  color: rgb(65, 65, 65);
}
h3 {
  font-size: 1.3em;
  font-family: sans-serif;
  color: rgb(65, 65, 65);
}
h4 {
  font-size: 1.2em;
  font-style: italic;
  font-family: sans-serif;
  color: rgb(65, 65, 65);
}
p{
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(65, 65, 65);
}
ul{
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(65, 65, 65);
}
ol{
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(65, 65, 65);
}
li{
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(65, 65, 65);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
